<div>
  <h1>ברוכה הבאה!</h1>
  <h3>איזה כיף שאת מצטרפת אלינו!</h3>
  <span>* מציינת שדה חובה</span>
  <div>
      <span>
          שם
      </span>
      <span>
          (ניתן להשתמש בשם בדוי)
      </span>
      <span>
          :*
      </span>
      <input/>
  </div>
  <div>
      <span>
          מספר טלפון
      </span>
      <select name="" id=""></select>
      <span>-</span>
      <input/>
  </div>
  <div>
      <span>
          סיסמא
      </span>
      <input/>
  </div>
  <div>
      <span>
          הקישי סיסמא שנית
      </span>
      <input/>
  </div>
  <div>
      <span>
          גיל
      </span>
      <input/>
  </div>
  <div>
      <span>
          כתובת
      </span>
      <input/>
  </div>
  <div>
      <span>
          מספר ילדים
      </span>
      <select></select>
  </div>
  <div>
      <span>
         זמן בזוגיות
      </span>
      <select></select>
  </div>
  <div>
      <div>איש/אשת קשר למקרה הצורך</div>
      <span>
         שם
      </span>
      <input/>
      <span>
          מספר טלפון
       </span>
       <select></select>
       -
       <input/>
  </div>
  <div>
      <input/>
      <span>
          אני מאשרת את 
          <a>
              מדיניות הפרטיות ותנאי השימוש
          </a>
      </span>
  </div>

  <button>
      הרשמי
  </button>
</div>