<ion-content>
  <div class="feelings-page">
    <h1>מה הרגשת היום ?</h1>
    <div class="feelings-box">
      <div *ngFor="let feeling of feelings">
        <ion-button (click)="editFeeling(feeling)" class="feeling"
                    color="{{isFeelingSelected(feeling) ? 'dark' : 'danger'}}">
          <div class="button-box">
            <ion-label class="text">{{feeling}}</ion-label>
            <ion-label class="icon">
              <ion-icon name="sad-outline" style="float:left"></ion-icon>
            </ion-label>
          </div>
        </ion-button>
        <br>
      </div>
      <br>
      <ion-button class="activity" style="width:100%" color="danger" (click)="finish()">סיום</ion-button>
    </div>
  </div>
</ion-content>
