.feelings-box {
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 10%;
  text-align: center;
}
.selected{
  background-color: yellow;
}
.feeling{
  width: 80%;
  --border-radius: 25px;
}

.text{
  margin-left: 50%;
}
