<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="MAIN_MENU"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="mic-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <ion-grid>
      <ion-row style="height: 20%; display: flex;" class="ion-justify-content-center ion-text-right">
        <ion-col size-md="9" size-lg="7" size-xl="5">
          <div style="display:flex; flex-direction: column; justify-content: space-around;height: 100%">
            <span style="font-size: 25pt" class="font-weight-bold mt-1 mr-3">שלום אהובה </span>
            <span style="font-size: 20pt" class="mt-1 mr-3">מה שלומך היום?</span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size-md="8" size-lg="6" size-xl="4">
          <ion-card class="ion-activatable ripple-parent d-flex"
                    (click)="moveToHowWasYourDay()">
            <ion-ripple-effect></ion-ripple-effect>
            <ion-card-content class="d-flex align-items-center flex-row justify-content-center ion-text-center w-100 h-100">
              <div class="content-container">
                <div class="text-container">
                  <ion-label class="header-text">בואי נבין יחד איך עבר עלייך היום?</ion-label>
                  <ion-label class="description-text">כמה שאלות קצרות שיעזרו לך לתעד ביומן אישי את מה שעובר עלייך בכל
                    יום
                  </ion-label>
                </div>

                <div>
                  <ion-icon name="reader-outline"></ion-icon>
                </div>
              </div>
            </ion-card-content>
          </ion-card>

          <ion-card class="ion-activatable ripple-parent d-flex"
                    (click)="downloadApp()">
            <ion-ripple-effect></ion-ripple-effect>
            <ion-card-content class="d-flex align-items-center flex-row justify-content-center ion-text-center w-100 h-100">
              <div class="content-container">
                <div class="text-container">
                  <ion-label class="header-text">רוצה לדבר?</ion-label>
                  <ion-label class="description-text">כמה שאלות קצרות שיעזרו לך לתעד ביומן אישי את מה שעובר עלייך בכל
                    יום
                  </ion-label>
                </div>

                <div>
                  <ion-icon name="reader-outline"></ion-icon>
                </div>
              </div>
            </ion-card-content>
          </ion-card>

          <ion-card class="ion-activatable ripple-parent d-flex"
                    (click)="downloadApp()">
            <ion-ripple-effect></ion-ripple-effect>
            <ion-card-content class="d-flex align-items-center flex-row justify-content-center ion-text-center w-100 h-100">
              <div class="content-container">
                <div class="text-container">
                  <ion-label class="header-text">רוצה שנקשיב?</ion-label>
                  <ion-label class="description-text"> האפליקצייה תאזין למה שמתרחש סביבך ותודיע לך אם משהו נשמע לא בסדר
                    יום
                  </ion-label>
                </div>

                <div>
                  <ion-icon name="reader-outline"></ion-icon>
                </div>
              </div>
            </ion-card-content>
          </ion-card>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-content>
