* {
  background-color: #FBF8F0;
}
ion-card {
  width: 80%;
  height: 20%;
  border-radius: 10px;
  border: 2px #cab0d1 solid
}

ion-card-content {
  font-size: 100%;
}

ion-col {
  display: flex;
  align-items: center;
  flex-direction: column;
}

ion-icon {
  font-size: 390%;
}

.header-text {
  width: 48%;
  font-size: 120%;
  font-weight: bold;
}

.description-text {
  width: 88%;
  font-size: 102%;
  margin-bottom: 24%;
  padding-bottom: 10%;
}

.text-container {
  display: flex;
  flex-direction: column;
  text-align: right;
  color: green;
}

.content-container {
  display: flex;
}
