<ion-content>
  <div class="activities-page">
    <h1>
      האם הוא עושה אחת מהפעולות האלה ?
    </h1>
    <div class="activities-box">
      <div *ngFor="let activity of activities">
        <ion-button (click)="(editActivity(activity))" class="activity"
                    color="{{isActivitySelected(activity) ? 'dark' : 'danger'}}">
            <div class="button-box">
              <ion-label class="text">{{activity}}</ion-label>
              <ion-label class="icon">
                <ion-icon name="sad-outline" style="float:left"></ion-icon>
              </ion-label>
            </div>
        </ion-button>
        <br>
      </div>
    </div>
  </div>
</ion-content>
