span {
    color : black;
    font-size: 15px;
    margin-top:10px;
}

input {
    border-radius: 10px;
    border: 1px solid #8C0436;
    width: 40px;
    width: 276px;
    height: 35px;
    border-color : linear-gradient(191.84deg, #320A64 -0.4%, #D1037E 98.25%, #D0007D 99.29%);
}