* {
    font-family: Rubik;
}

.sign-in-container {
    margin-top: 120px;
    display: flex;
    flex-flow: column;
}

.title {
    color: #67926f;
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    margin-right: 50px;
    height: 45px;
}

.inputs-container {
    display: flex;
    flex-flow: column;        
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

span {
    color : black;
    font-size: 15px;
    margin-top:10px;
}

input {
    border-radius: 10px;
    border: 1px solid #67926f;
    width: 40px;
    width: 276px;
    height: 35px;
    border-color : #67926f;
}

.buttons {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    justify-content: space-between;
    width: 274px;
}

button {
    border: 1px solid #67926f;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 140px;
    background-clip: text;
    color: #67926f;
    font-size:15px;
    width: 100px;
    height: 36px;
}

